-r requirements-test.txt
black==25.1.0
bump2version==1.0.1
flake8==7.2.0
isort==6.0.1
livereload
mypy==1.15.0
nox
pre-commit==4.2.0
pylint==3.3.6
typed-ast==1.5.5
types-docutils
types-setuptools==80.0.0.20250429
